@page "/stressrecords/details"
@using Microsoft.EntityFrameworkCore
@using Minister_Of_Time.Domain
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>StressRecord</h2>
    <hr />
    @if (stressrecord is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StressLevel</dt>
            <dd class="col-sm-10">@stressrecord.StressLevel</dd>
            <dt class="col-sm-2">FatigueLevel</dt>
            <dd class="col-sm-10">@stressrecord.FatigueLevel</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@stressrecord.UserId</dd>
            <dt class="col-sm-2">CalendarEventId</dt>
            <dd class="col-sm-10">@stressrecord.CalendarEventId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@stressrecord.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@stressrecord.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@stressrecord.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@stressrecord.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/stressrecords/edit?id={stressrecord.Id}")">Edit</a> |
            <a href="@($"/stressrecords")">Back to List</a>
        </div>
    }
</div>

@code {
    private StressRecord? stressrecord;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        stressrecord = await context.StressRecord.FirstOrDefaultAsync(m => m.Id == Id);

        if (stressrecord is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
