@page "/calendarevents/details"
@using Microsoft.EntityFrameworkCore
@using Minister_Of_Time.Domain
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>CalendarEvent</h2>
    <hr />
    @if (calendarevent is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">EventName</dt>
            <dd class="col-sm-10">@calendarevent.EventName</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@calendarevent.Location</dd>
            <dt class="col-sm-2">StartDateTime</dt>
            <dd class="col-sm-10">@calendarevent.StartDateTime</dd>
            <dt class="col-sm-2">EndDateTime</dt>
            <dd class="col-sm-10">@calendarevent.EndDateTime</dd>
            <dt class="col-sm-2">CalendarType</dt>
            <dd class="col-sm-10">@calendarevent.CalendarType</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@calendarevent.Status</dd>
            <dt class="col-sm-2">HostUserId</dt>
            <dd class="col-sm-10">@calendarevent.HostUserId</dd>
            <dt class="col-sm-2">UserActivityId</dt>
            <dd class="col-sm-10">@calendarevent.UserActivityId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@calendarevent.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@calendarevent.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@calendarevent.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@calendarevent.UpdatedBy</dd>
        </dl>
        <di>
            <a href="@($"/calendarevents/edit?id={calendarevent.Id}")">Edit</a> |
            <a href="@($"/calendarevents")">Back to List</a>
        </di    v>
    }
</div>

@code {
    private CalendarEvent? calendarevent;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        calendarevent = await context.CalendarEvent.FirstOrDefaultAsync(m => m.Id == Id);

        if (calendarevent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
