@page "/closeconnections/details"
@using Microsoft.EntityFrameworkCore
@using Minister_Of_Time.Domain
@inject IDbContextFactory<Minister_Of_Time.Data.Minister_Of_TimeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>CloseConnection</h2>
    <hr />
    @if (closeconnection is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@closeconnection.UserId</dd>
            <dt class="col-sm-2">ConnectedUserId</dt>
            <dd class="col-sm-10">@closeconnection.ConnectedUserId</dd>
            <dt class="col-sm-2">ConnectionType</dt>
            <dd class="col-sm-10">@closeconnection.ConnectionType</dd>
            <dt class="col-sm-2">ViewLifeCalendar</dt>
            <dd class="col-sm-10">@closeconnection.ViewLifeCalendar</dd>
            <dt class="col-sm-2">ViewWorkCalendar</dt>
            <dd class="col-sm-10">@closeconnection.ViewWorkCalendar</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@closeconnection.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@closeconnection.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@closeconnection.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@closeconnection.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/closeconnections/edit?id={closeconnection.Id}")">Edit</a> |
            <a href="@($"/closeconnections")">Back to List</a>
        </div>
    }
</div>

@code {
    private CloseConnection? closeconnection;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        closeconnection = await context.CloseConnection.FirstOrDefaultAsync(m => m.Id == Id);

        if (closeconnection is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
